<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to "Sophia's Blog", root_path %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#""><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
  <ul class="right">
    <li class="divider hide-for-small"></li>
    <li>
      <%= link_to 'Github', 'https://github.com/sudosoph' %>
    </li>
    <li class="divider hide-for-small"></li>
    <li>
      <%= link_to 'Twitter', 'https://twitter.com/sudosoph' %>
    </li>
    <li class="divider hide-for-small"></li>
    <li>
      <%= link_to 'About Us', '/about' %>
    </li>
  </ul>
  </section>
</nav>